*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-image: url(images/bgimage.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: antiquewhite;
    overflow: hidden;
}
.project{
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
}
.project-item{
    float: left;
    border: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    width: 32.5%;
    margin-top: 10px;
    height: 150px;
}
.footer{
    margin-top: 4px;
    padding-top: 10px;
    height: 160px;
    width: 100%;
    overflow: hidden;
   background-color: black;
    color: antiquewhite;
}
.footer-item{
    float: left;
    padding-right: 20px;
    width: 33%;
    overflow: hidden;
}
.link-1{
    padding-right: 20px;
    color: antiquewhite;
    text-decoration: none;
}
.link-2{
    padding-right: 20px;
    color: antiquewhite;
    text-decoration: none;
}
/*Device responsive*/
@media screen and (max-width: 1100px) {
    .header{
        color: red;
    }
}
@media screen and (max-width : 800px) {
.header{
    height: 250px;
}    
}
@media screen and (max-width : 700px) {
.header{
    height: 200px;
}    
}
@media screen and (max-width : 1200px) {
    .project-item{
        width: 32%;
    }   
}
@media screen and (max-width : 750px) {
    .project-item {
        width: 31.5%;
    }    
}
/*@media screen and (max-width : 545px) {
.project-item{
    width: 31%;
}    
}
*/
@media screen and (max-width : 700px) {
    .project-item{
        width: 48.5%;
    }
}
@media screen and (max-width : 666px) {
    .project-item{
        width: 48%;
    }
}
@media screen and (max-width : 500px) {
    .project-item{
        width: 99.5%;
    }
}
@media screen and (max-width : 300px) {
    .project-item{
        width: 100%;
    }
}
@media screen and (max-width : 440px) {
.footer-item{
    width: 100%;
    padding-top: 10px;
    padding-left: 100px;

}
    
}
@media screen and (max-width : 340px) {
    .footer-item{
        width: 100%;
        padding-left: 100px;
        padding-top: 10px;
    
    }
        
    }
    

        
    
    
    